.lv-captions-display
  background-color rgba(255, 255, 255, 0.1)
  border-radius 5px
  color #FFF
  font-family sans-serif
  font-size 1.3em
  z-index 500
  padding .7em
  text-align center
  user-select none
  width 50%
  
  position absolute
  bottom 10%
  left 25%
  
  &:empty
    display none
