.rp-controls-help
  cursor pointer
  height 100%

.rp-help-dialog
  background-color rgba(0, 0, 0, 0.85)
  height 100vh
  padding 5vh 10vh
  width 160vh
  position fixed
  left calc(50vw - 80vh)
  top 0
  z-index 1001
  
  > button
    background none
    border none
    color red
    cursor pointer
    font-family "Helvetica", "Arial", sans-serif
    font-size 5em
    position absolute
    right 2%
    top -1%
  
.rp-help-tables
  display flex
  justify-content space-around

  > table
    border-collapse separate
    border-spacing 1em
    font-family "Alegreya Sans", sans-serif
    vertical-align top
    
  > table > caption
    color $blue
    font-family "Roboto Slab", sans-serif
    font-weight bold
    
  > table th
    font-weight normal
    text-align right
  
  kbd
    color yellow
