/* scrubbing */
.lv-controls-scrub
  -webkit-tap-highlight-color transparent
  
.lv-controls-scrub-wrap
  height 100%
  width 100%

.lv-controls-scrub-progress
  display block
  height 100%
  width 100%
  pointer-events none

.lv-progress-elapsed
  fill var(--lv-elapsed-color)

.lv-progress-remaining
  fill rgba(255, 255, 255, 0.6)
  
.controls-progress-buffered
  fill orange

.lv-scrubber
  height 13px
  position absolute
  top -3px
  
  > circle
    fill var(--lv-scrubber-color)

.lv-thumb-highlight
  fill #FFF
  
  &.past
    fill #ec76b3
