.lv-controls-settings
  position relative
  
  > svg
    cursor pointer
    height 100%
    padding 6px
  
.lv-settings-dialog
  background-color rgba(32, 32, 32, 0.85)
  border-radius 3px 3px 0 0
  padding 2px 0
  position absolute
  bottom 42px
  right 0
  width 10em
  
  > table
    border-collapse collapse
    width 100%
  
  > table > tbody > tr
    cursor pointer
    font-family sans-serif
    
    &:hover
      background-color rgba(72, 72, 72, 0.85)
    
    > th
      padding .25em 0 .25em .5em
      vertical-align middle
      text-align left

    > td
      padding .25em .5em .25em 0
      text-align right
      vertical-align middle
      
.lv-settings-speed-dialog, .lv-settings-captions-dialog
  background-color rgba(32, 32, 32, 0.85)
  padding 2px 0
  position absolute
  bottom 42px
  line-height 1rem
  right 0
  width 6em
  
  > ul
    list-style-type none
    
    > li
      cursor pointer
      padding 4px .5em

      &:hover
        background-color rgba(72, 72, 72, 0.85)
        
      &.selected
        color $wine

.lv-dialog-subtitle
  border-bottom 1px solid #AAA
  display block
  text-align center
