$thumb-img-height = 100px
$thumb-img-width = 160px
$thumb-padding = 3px
.lv-controls-thumbnail
  background #333
  
  font-size .85em
  padding $thumb-padding
  bottom 13px
  text-align center
  position absolute
  margin-left (-($thumb-img-width / 2 + $thumb-padding))

.lv-thumbnail-box
  overflow hidden
  
  height $thumb-img-height
  width $thumb-img-width
  margin 0 auto
  position relative
  text-align center
  
  > img
    position absolute

.lv-thumbnail-title
  color #FFF
  font-family sans-serif
  
.lv-thumbnail-time
  color #FFF
  font-family sans-serif
  position absolute
  bottom .5em
  text-align center
  width 100%
  left 0
