.lv-controls-time
  display inline-block
  font-family sans-serif
  font-size 11px
  line-height 36px
  padding 0 1.5em
  text-align center
  user-select none
  vertical-align top

.lv-time-separator
  margin 0 3px
