.rp-controls-time 
  display inline-block
  font-family "Droid Sans Mono", sans-serif
  font-size 11px
  line-height 36px
  padding 0 1.5em
  text-align center
  user-select none
  vertical-align top

.rp-time-separator 
  margin 0 3px
