packages/**/LICENSE

# Node
node_modules
dist
coverage
tsconfig.tsbuildinfo
*.log

# Configuration
.env

# Editors
*.code-*
*.sublime-*

# Generated
bundle.js

# Operating system
.DS_Store

# static files
*.mp4
