packages/**/LICENSE
packages/epiplexis
packages/test

# Node
node_modules
dist
coverage
tsconfig.tsbuildinfo
*.log

# Turbopack
.turbo

# Configuration
.env

# Editors
*.code-*
*.sublime-*

# Generated
bundle.js
*.json.d.ts

# Operating system
.DS_Store

# static files
*.jpeg
*.jpg
*.png

*.mp4
*.webm
