@layer base {
  html {
    color-scheme: light dark;
  }
}

.DockableDialog {
  --border-radius: 4px;
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 500px;

  * {
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 150ms;
    transition-property: background-color, color;
  }
}

.DockableDialogHeader {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  user-select: none;
  background-color: var(--accent-solid);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.DockableDialogContent {
  padding: 8px 16px;
  color: light-dark(#000, #fff);
  background-color: light-dark(#e0e0e0, #333);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
