.RadioTabs {
  display: inline-flex;
  gap: 2px;
  width: max-content;
  padding: 3px;
  background-color: var(--gray-ui);
  border-radius: 6px;
}

.RadioTabsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  color: var(--gray-solid);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition:
    background-color 0.15s,
    color 0.15s;

  &:hover {
    color: var(--gray-normal);
    background-color: var(--gray-hover);
  }

  &[data-checked] {
    color: var(--accent-contrast);
    background-color: var(--accent-solid);

    .iconRegular {
      display: none;
    }

    .iconFill {
      display: block;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--accent-focus);
    outline-offset: 1px;
  }
}

.iconRegular {
  display: block;
}

.iconFill {
  display: none;
}
