.TabsList {
  height: min-content;
  margin: 0 auto;
}

.TabsTrigger {
  display: inline-flex;
  gap: 0.2em;
  align-items: center;
  padding: 1px 8px;

  font-family: "Inter Variable", sans-serif;
  font-weight: 500;

  color: #fff;
  background-color: #aaa;

  &[disabled] {
    pointer-events: none;
    opacity: 50%;
  }

  &[data-active] {
    background-color: var(--accent-solid);
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}
