.Toast {
  background-color: var(--gray-app);
  border-color: var(--gray-sep);
  border-radius: 8px;
  box-shadow:
    0px 1px 2px 0px light-dark(#00000026, #33333326),
    0px 3px 7px 0px light-dark(#00000040, #33333340);
  color: light-dark(#000, #fff);
  font-size: 14px;
  padding: 8px;

  transition-property: background-color, color;
  /* transition-timing-function: var(--default-transition-timing-function); */
  transition-duration: 150ms;

  --icon-size: 24px;
  --icon-offset: 8px;

  /* layout */
  display: grid;
  grid:
    "icon header"
    "icon message" / calc(var(--icon-size) + var(--icon-offset)) auto auto;
  position: relative;
  width: 300px;

  /* title */
  > header {
    color: var(--gray-normal);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: var(--icon-size);

    grid-area: header;
  }
}

.message {
  color: var(--gray-dim);

  grid-area: message;
}

.icon {
  height: var(--icon-size);
  width: var(--icon-size);

  grid-area: icon;
}
