/* file tabs */
.lqv-file-tabs {
  z-index: 10000;
  grid-area: files;
  background: #333;
}
.lqv-file-tabs > [role="tab"] {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0.4em 1em 0.4em 2em;
  margin-right: 1px;
  font-family: sans-serif;
  font-size: 1rem;
  color: #999;
  text-align: left;
  cursor: pointer;
  background: #444;
  border: none;
}
.lqv-file-tabs > [role="tab"][aria-selected="true"] {
  color: #fff;
  background: #222;
}
[class*="lqv-filetype-"]::before {
  position: absolute;
  left: 0.5em;
  width: 1em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
.lqv-filetype-html::before {
  color: #f66;
  content: "<>";
}
.lqv-filetype-js::before {
  color: #ff0;
  content: "JS";
}
.lqv-filetype-css::before {
  color: #1a69b5;
  content: "#";
}
