/* container */
.lqv-codebooth {
  --button-height: 2.4rem;
  --file-tabs: 0%;
  --split: 50%;
  --v-split: 20%;
  position: absolute;
  display: grid;
  grid-template:
    "files console" var(--file-tabs)
    "editor console" calc(100% - var(--file-tabs) - var(--button-height))
    "buttons console" var(--button-height) / var(--split);
  width: 100%;
  height: var(--lv-canvas-height);
  font-size: 1rem;
  text-align: left;
}
.lqv-codebooth.multifile {
  --file-tabs: 4%;
}
.lqv-codebooth > .cm-editor,
.lqv-codebooth > .lqv-editor-group,
.lqv-codebooth > .lqv-editor-panel {
  grid-area: editor;
}
.lqv-editor-group > *,
.lqv-editor-panel > * {
  width: 100%;
  height: 100%;
}
