/* resizing */
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  z-index: 200;
  font-size: 0.1px;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-ew {
  top: 0;
  left: var(--split);
  width: 7px;
  height: 100%;
  cursor: ew-resize;
}
.ui-resizable-ns {
  bottom: calc(var(--v-split) - 3.5px);
  left: var(--split);
  width: calc(100% - var(--split));
  height: 7px;
  cursor: ns-resize;
}
