.LiveCode {
  --split: 50%;
  --v-split: 50%;

  /* https://github.com/fsegurai/codemirror-themes/blob/main/packages/vscode-light/src/index.ts */
  --light-bg: #ffffff;
  --light-fg: #383a42;
  --light-surface: #fafafd;
  --light-sep: #f0f1f2;

  /* https://github.com/fsegurai/codemirror-themes/blob/main/packages/vscode-dark/src/index.ts */
  --dark-bg: #1e1e1e;
  --dark-fg: #d4d4d4;
  --dark-surface: #191a1b;
  --dark-sep: #2a2b2c;

  --fg: light-dark(var(--light-fg), var(--dark-fg));
  --bg: light-dark(var(--light-bg), var(--dark-bg));
  --surface: light-dark(var(--light-surface), var(--dark-surface));

  --surface-contrast: light-dark(
    rgb(from var(--light-surface) calc(r - 20) calc(g - 20) calc(b - 20)),
    hsl(from var(--dark-surface) h s calc(l + 6))
  );

  --sep: light-dark(var(--light-sep), var(--dark-sep));

  --bg-contrast: hsl(from var(--bg) h s calc(l - 6));
}

.button {
  color: light-dark(
    hsl(from var(--fg) h s calc(l + 30)),
    hsl(from var(--fg) h s calc(l - 30))
  );
  background-color: light-dark(
    hsl(from var(--bg) h s calc(l - 6)),
    hsl(from var(--bg) h s calc(l + 1))
  );

  &:hover,
  &:active {
    color: var(--fg);
  }

  &:hover {
    background-color: light-dark(
      hsl(from var(--bg) h s calc(l - 8)),
      hsl(from var(--bg) h s calc(l + 3))
    );
  }

  &:active {
    background-color: light-dark(
      hsl(from var(--bg) h s calc(l - 10)),
      hsl(from var(--bg) h s calc(l))
    );
  }

  &:disabled {
    color: light-dark(
      hsl(from var(--fg) h s calc(l + 60)),
      hsl(from var(--fg) h s calc(l - 60))
    );
    background-color: light-dark(
      hsl(from var(--bg) h s calc(l - 4)),
      hsl(from var(--bg) h s calc(l))
    );
  }
}

.FileTab {
  color: light-dark(#8e8e90, #8c8c8c);

  &[aria-selected="true"] {
    color: light-dark(#000, #fff);
    background-color: var(--bg);
    box-shadow:
      inset 0px 3px var(--lv-accent),
      0 1px var(--bg);
  }

  &[class*="lqv-filetype-"]::before {
    position: absolute;
    left: 8px;
    width: 1em;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }

  /* specific filetypes */
  &[class*="lqv-filetype-html"]::before {
    color: #f66;
    content: "<>";
  }

  &[class*="lqv-filetype-js"]::before {
    font-size: 10px;
    color: light-dark(darkgoldenrod, yellow);
    content: "JS";
  }

  &[class*="lqv-filetype-css"]::before {
    color: #1a69b5;
    content: "#";
  }
}

.editor {
  height: 100%;

  [class~="cm-focused"] {
    outline: none !important;
  }
}

.split {
  display: flex;
  flex: 1;
  overflow: auto;
  border-radius: 0 0 var(--ifm-pre-border-radius) var(--ifm-pre-border-radius);

  [class~="cm-scroller"] {
    scrollbar-width: thin;
    border-bottom-left-radius: var(--ifm-pre-border-radius);
  }
}

.iframe {
  [class~="dragging"] & {
    pointer-events: none;
  }
}

.resize {
  &[data-dir="ew"] {
    height: 100%;
    cursor: ew-resize;
    translate: -50% 0;
  }

  &[data-dir="ns"] {
    width: 100%;
    cursor: ns-resize;
    translate: 0 -50%;
  }
}

.DropdownMenuContent {
  background-color: hsl(from var(--bg) h s calc(l - 6));
  border-radius: 0 0 4px 4px;
  animation-name: slideUpAndFade;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.DropdownMenuItem {
  padding: 4px 16px;
  cursor: pointer;
  background-color: transparent;

  &[data-highlighted] {
    outline: none;
    background-color: hsl(from var(--bg) h s calc(l - 2));
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
