@media (any-hover: none)
  .rp-controls
    // background-color rgba(0, 0, 0, 0.5)
    color #FFF
    height 8%
    position absolute
    top unset
    transition opacity .25s cubic-bezier(0.0,0.0,0.2,1)
    width var(--rp-width)
    bottom calc((100% - 62.5vw) / 2)
    user-select none
    -webkit-user-select none
    z-index 1000
    left 0
    
  // hide certain controls
  .rp-controls-volume, .rp-controls-help
    display none !important
  
  // time
  .rp-controls-time
    line-height unset

  .rp-current-time, .rp-total-time
    height 2em
    line-height 0
    position absolute
    top 50%
    width 5%
    
  .rp-current-time
    left 0
    text-align right
    
  .rp-total-time
    right 0
    text-align left

  .rp-time-separator
    display none
    
  .rp-controls-scrub
    height calc(7.5% / 0.55)
    top unset
    top calc(50% - 0.5 * (7.5% / 0.55))
    width 84%
    left 10%
    margin unset
    
  .rp-scrubber
    height 216%
    top -50%
    pointer-events all
    
  .rp-controls-playpause
    bottom 0
    position absolute
    left 4.2%
    height 120%
    top -10%
    cursor pointer
    pointer-events all
    
  .rp-controls-float-right
    position fixed
    bottom 11%
    height 6%
    right 2%
    
    > *
      background #FFF1
      border-radius 4%
      display inline-block
      margin 0 .2em
      height 2em
      width 2em
      vertical-align top
      cursor pointer
      pointer-events all
