$wine = #AF1866
$blue = #1A69B5
$green = #1BBB68
$red = #A52117

/* reset styles */
*
  box-sizing border-box
  margin 0
  padding 0

*:focus
  outline none
  
:link
  color inherit
  text-decoration none
  
iframe, img
  border none

.ractive-player
  --rp-controls-height 44px
  --rp-elapsed-color $wine
  --rp-scrubber-color $wine
  --rp-scrub-height 6px

  background-color #000
  height 100%
  width 100%
  overflow hidden
  position absolute
  left 0
  top 0
    
.rp-canvas 
  background-color #121212
  position relative
  user-select none
  height var(--rp-height)
  width var(--rp-width)
  font-size calc(var(--rp-height) * 3 / 100)

// this will get removed in 2.0
.rp-cursor
  pointer-events none
  position absolute
  z-index 1000
  
  // I don't understand these lines, but past me must have thought they were important
  height 4vmin
  width 4vmin

// yikes
.not-ready
  *[data-from-first], *[data-during]
    visibility hidden
    
@media (min-aspect-ratio: 8/5)
  .ractive-player
    --rp-height 100vh
    --rp-width 160vh

  .rp-canvas
    margin 0 auto
    
@media (max-aspect-ratio: 8/5)
  .ractive-player
    --rp-height 62.5vw
    --rp-width 100vw
  
  .rp-canvas
    top calc((100% - 62.5vw) / 2)
  
@import "loading"

/* control positioning */
.rp-controls
  background-color rgba(0, 0, 0, 0.5)
  color #FFF
  height var(--rp-controls-height)
  position absolute
  top calc(100vh - 44px)
  left calc(50vw - 80vh)
  transition opacity .25s cubic-bezier(0.0,0.0,0.2,1)
  width 160vh
  user-select none
  z-index 1000
  
  &.hidden
    opacity 0
    transition opacity .1s cubic-bezier(0.4, 0, 1, 1)

.rp-controls-scrub 
  cursor pointer
  height var(--rp-scrub-height)
  // height calc(5.5% / 0.55)
  margin 0 auto
  position relative
  width 97%
  z-index 2

.rp-controls-buttons 
  height 36px
  margin 0 auto
  width 97%
  
  > *
    display inline-block
    height 100%

.rp-controls-float-right 
  float right
  
  > *
    display inline-block
    height 100%

// individual controls
.rp-controls-playpause, .rp-controls-fullscreen
  cursor pointer

@import "controls/captions"
@import "controls/help"
@import "controls/scrubber"
@import "controls/settings"
@import "controls/thumbs"
@import "controls/time"
@import "controls/volume"

// mobile styles
@import "mobile"

// hack to target Safari, which does horrible things without this line
@media not all and (min-resolution:.001dpcm)
  @supports (-webkit-appearance:none)
    *[data-from-first], *[data-during]
      will-change opacity
