$wine = #AF1866
$blue = #1A69B5

user-select(value)
  user-select value
  -webkit-user-select value

/* reset styles */
*
  box-sizing border-box
  margin 0
  padding 0

*:focus
  outline none
  
:link
  color inherit
  text-decoration none
  
iframe, img
  border none

.ractive-player
  --rp-controls-height 44px
  --rp-elapsed-color $wine
  --rp-scrubber-color $wine
  --rp-scrub-height 6px
  --rp-volume-color $wine
  --rp-buttons-height calc(var(--rp-controls-height) - var(--rp-scrub-height))
  --rp-canvas-height calc(var(--rp-height) - var(--rp-controls-height))

  background-color #000
  height 100%
  width 100%
  overflow hidden
  position absolute
  left 0
  top 0
    
.rp-canvas
  background-color #121212
  position relative
  user-select none
  height var(--rp-height)
  width var(--rp-width)

// yikes
.not-ready
  *[data-from-first], *[data-during]
    visibility hidden
    
@media (min-aspect-ratio: 8/5)
  :root
    font-size 2vh

  .ractive-player
    --rp-height 100vh
    --rp-width 160vh

  .rp-canvas
    margin 0 auto
    
@media (max-aspect-ratio: 8/5)
  :root
    font-size 1.25vw

  .ractive-player
    --rp-height 62.5vw
    --rp-width 100vw
  
  .rp-canvas
    top calc((100% - 62.5vw) / 2)

/* control positioning */
.rp-controls
  background-color rgba(0, 0, 0, 0.5)
  color #FFF
  height var(--rp-controls-height)
  position absolute
  top calc(50vh + var(--rp-height)/2 - var(--rp-controls-height))
  left calc(50vw - var(--rp-width) / 2)
  transition opacity .25s cubic-bezier(0.0,0.0,0.2,1)
  width var(--rp-width)
  user-select none
  z-index 1000
  
  &.hidden
    opacity 0
    transition opacity .1s cubic-bezier(0.4, 0, 1, 1)

.rp-controls-scrub 
  cursor pointer
  height var(--rp-scrub-height)
  // height calc(5.5% / 0.55)
  margin 0 auto
  position relative
  width 97%
  z-index 2

.rp-controls-buttons
  height var(--rp-buttons-height)
  line-height var(--rp-buttons-height)
  margin 0 auto
  width 97%
  
  > *
    display inline-block
    height 100%
    
.rp-controls-right
  float right
  
  > *
    display inline-block
    height 100%

// individual controls
.rp-controls-playpause, .rp-controls-fullscreen
  cursor pointer

@import "controls/captions"
@import "controls/scrubber"
@import "controls/settings"
@import "controls/thumbs"
@import "controls/time"
@import "controls/volume"

// mobile styles
@import "mobile"

// hack to target Safari, which does horrible things without this line
@media not all and (min-resolution:.001dpcm)
  @supports (-webkit-appearance:none)
    *[data-from-first], *[data-during]
      will-change opacity
