.CaptionsEditor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  padding: 0.5em;
  pointer-events: all;
  cursor: text;
  user-select: text;
  background: light-dark(white, #222);
  border: 1px solid #000;
  border-radius: 6px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  translate: -50% -50%;
}

.transcript {
  --line-height: 1.5;
  --sep: light-dark(#ddd, #555);

  width: 75vw;
  height: 50vh;
  margin: 1em;
  overflow: auto;
  line-height: var(--line-height);

  border: 1px solid var(--sep);
  border-radius: 2px;
  /* box-shadow: inset 0 2px 0 var(--odd); */
}

.stripes {
  --odd: light-dark(#f6f6f6, #333);
  --even: light-dark(#e8e8e8, #444);
  --sep: light-dark(#ddd, #555);
  padding: 0 4px;

  /* background-image: repeating-linear-gradient( */
  /*   var(--odd) 0, */
  /*   var(--odd) calc(var(--line-height) * 1em), */
  /*   var(--even) calc(var(--line-height) * 1em), */
  /*   var(--even) calc(var(--line-height) * 2em) */
  /* ); */

  background-image: repeating-linear-gradient(
    var(--odd) 0,
    var(--odd) calc(var(--line-height) * 1em - 1px),
    var(--sep) calc(var(--line-height) * 1em - 1px),
    var(--sep) calc(var(--line-height) * 1em),
    var(--even) calc(var(--line-height) * 1em),
    var(--even) calc(var(--line-height) * 2em - 1px),
    var(--sep) calc(var(--line-height) * 2em - 1px),
    var(--sep) calc(var(--line-height) * 2em)
  );
}

.selection {
  background: light-dark(#8f8, #0d0);
}

.activeWord {
  color: var(--accent-solid);
  background: transparent;
  border-radius: 3px;
}

.captionBreak {
  position: relative;

  &::after {
    display: inline-block;
    width: 1px;
    height: 1em;
    vertical-align: middle;
    content: "";
    background: gray;
  }
}

.preview {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 50;
  width: max-content;
  padding: 0.4em 0.8em;
  color: #fff;
  pointer-events: none;
  background: light-dark(#000d, #222d);
  border-radius: 8px;
  translate: -50% 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background: #000a;
}
